@page
@model ProyectoCiclo3.App.Frontend.Pages.FormAeropuertosModel
@{
}

<div class="text-center">
    <form method="POST">
        <label for="nombre" class="form-label">Nombre:</label>
        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" required>

        <label for="ciudad" class="form-label">Ciudad:</label>
        <input type="text" class="form-control" id="ciudad" name="ciudad" placeholder="Ciudad" required>

        <label for="pais" class="form-label">Pais:</label>
        <input type="text" class="form-control" id="pais" name="pais" placeholder="Pais" required>

        <label for="coord_x" class="form-label">Coordenada X:</label>
        <input type="number" class="form-control" id="coord_x" name="coord_x" placeholder="Coordenada X" required>

        <label for="coord_y" class="form-label">Coordenada Y:</label>
        <input type="number" class="form-control" id="coord_y" name="coord_y" placeholder="Coordenada Y" required>

        <hr>
        
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
