@page
@{
}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Pais</th>
            <th scope="col">Coordenada X</th>
            <th scope="col">Coordenada Y</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>Twitter</td>
            <td>...</td>
            <td>...</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>Facebook</td>
            <td>...</td>
            <td>...</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry the Bird</td>
            <td>Arias</td>
            <td>Instagram</td>
            <td>...</td>
            <td>...</td>
        </tr>
    </tbody>
</table>
