@page
@model ProyectoCiclo3.App.Frontend.Pages.FormRutasModel
@{
}

<div class="text-center">
    <form method="POST">
        <label for="origen" class="form-label">Rutas de origen:</label>
        <input type="text" class="form-control" id="origen" name="origen" placeholder="Rutas de origen" required>

        <label for="destino" class="form-label">Rutas de destino:</label>
        <input type="text" class="form-control" id="destino" name="destino" placeholder="Rutas de destino" required>

        <label for="tiempo_estimado" class="form-label">Tiempo estimado:</label>
        <input type="number" class="form-control" id="tiempo_estimado" name="tiempo_estimado" placeholder="Tiempo estimado" required>
    
        <hr>

        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>